
#navbar navbar-default {
  background-color: white;
  border-radius: 0;
  border: 0;
}

#navbar-brand {
  padding-top: 0px;
  margin-left: 0px;
}

.row {
  
  background-color: gray;
  height: 1000px;
  text-align: center;
}

body {
	margin: 0px;
}
header {
	font-size: 20px;
	margin-bottom: 10px;
}

#nav-list a {
  color: white;
  text-align: center;
  background: green;
}

h1 {
text-align: center;
font-size: 16px;
margin:	10px;
}

h2 {
	text-align: center;
	font-size: 14px;
	margin:	10px
}

p {
text-align: left;
font-size: 14px;
margin:	10px;	
}
